<ion-view title="Flow">
	<button on-swipe-right="goBack()" class="button-navigate-back"></button>
	<!-- menu -->
	<ion-nav-buttons side="left">
	  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<!-- add inspiration button -->
	<ion-nav-buttons side="right">
	  <button class="button button-icon energized-button icon ion-ios7-lightbulb" ng-click="openAIModal()"></button>
	</ion-nav-buttons>
  <ion-content class="has-header">
  	<!-- Add content here -->
	<div class="underConstruction">
		<i class="icon ion-settings heroIcon"></i>
		<div class="title">Under Construction</div>
		<div class="text">Sorry for the inconvenience</div>

		<button class="button button-block button-stable button-primary" ng-click="goBack()">
		    Go Back
		</button>
	</div>  	
  </ion-content>
</ion-view>
