<ion-view title="Flow">
	<!-- menu -->
	<ion-nav-buttons side="left">
	  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<!-- add inspiration button -->
	<ion-nav-buttons side="right">
	  <button class="button button-icon energized-button icon ion-ios7-lightbulb" ng-click="openAIModal()"></button>
	</ion-nav-buttons>

  <ion-content class="has-header">
  	<!-- Add content here -->
  	<div class="container">
  		<div class="seperator">Current Projects</div>
      	<div>
	        <div class="card cover project" ng-repeat="project in projects">
	          <a href="#/app/projects/{{project.id}}">
	            <div class="coverData">
	              <h1>{{project.title}}</h1>
	              <h2>{{project.desc}}</h2>
	            </div>
	            <div class="item item-image">
	                <img src="img/{{project.cover}}.png">
	            </div>
	          </a>
	        </div>
      	</div>

      	<div class="whitespace"></div>

      	<a href="#/app/ideaboard">
	    	<div class="ideaboard">
				<div class="seperator">Ideaboard</div>
	  	  		<div class="item item-text-wrap idea" ng-repeat="idea in ideaboard">
		  	    	<h4>{{idea.title}}</h4>
			      	<span class="desc">{{idea.desc}}</span>
			      	<div class="center">
		      		<img src="img/{{idea.cover}}.png">
		      	</div>
	  	  	</div>
      	</a>
  	</div>
    </div>
  </ion-content>
</ion-view>
