<ion-view title="Ideaboard">
	<!-- menu -->
	<ion-nav-buttons side="left">
	  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<!-- add inspiration button -->
	<ion-nav-buttons side="right">
	  <button class="button button-icon energized-button icon ion-ios7-lightbulb" ng-click="openAIModal()"></button>
	</ion-nav-buttons>
	
  <ion-content class="has-header">
  	<div class="ideaboard">
  	  <div class="item item-text-wrap idea" ng-repeat="idea in ideaboard">
  	    <h4>{{idea.title}}</h4>
	      <span class="desc">{{idea.desc}}</span>
  	  </div>
  	</div>
  	<!-- <button class="button button-positive button-block" ng-click="addInspiration({ title: 'foo', desc: 'bar' })">Add new inspiration</button>
  	<button class="button button-positive button-block" ng-click="addInspiration({ title: 'foo1', desc: 'bar1' })">Add new inspiration 2</button> -->
  </ion-content>
</ion-view>
