<ion-view title="Create New Project">
  <!-- menu -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- add inspiration button -->
  <ion-nav-buttons side="right">
    <button class="button button-icon energized-button icon ion-ios7-lightbulb" ng-click="openAIModal()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <!-- <h1 class="viewTitle">Create New Project</h1> -->
    
    <form ng-submit="createNewProject()" class="flow-form container">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="New Project Title" class="title" ng-model="newProjectData.title">
        </label>
        <label class="item item-input" ng-click="showSheet()">
          <img src="img/addCover.png" class="coverImg">
        </label>
        <label class="item item-input">
          <textarea placeholder="Add description" ng-model="newProjectData.desc" class="desc"></textarea>
        </label>

        <button class="button button-block button-stable" type="submit">Create Project</button>

      </div>
    </form>
  </ion-content>
</ion-view>
