<ion-view title="{{project.title}}">
	<!-- menu -->
	<ion-nav-buttons side="left">
	  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<!-- add inspiration button -->
	<ion-nav-buttons side="right">
	  <button class="button button-icon energized-button icon ion-ios7-lightbulb" ng-click="openAIModal()"></button>
	</ion-nav-buttons>
  <ion-content class="has-header">
  	<!-- Add content here -->
  	<div class="container">

  		<div class="whitespace"></div>

  		<div class="list card cover">
  			<div class="coverData">
			  	<h1>{{project.title}}</h1>
			    <h2>{{project.desc}}</h2>
  			</div>
  			<div class="item item-image">
	  		  	<img src="img/{{project.cover}}.png">
  			</div>
  		</div>

  		<div class="whitespace"></div>

		<div class="seperator">Tasks ({{tasks.length}})</div>

	    <!-- tasks -->
		<div ng-show="tasks.length === 0 || !tasks">
  		  <div class="heading">No tasks yet.</div>
  		  <div class="text">Break your projects down into more smaller tasks and schedule them.</div>
  		</div>

	    <ion-list class="list-items">
	      	<ion-item ng-repeat="task in tasks" href="#/app/projects/{{project.id}}/tasks/{{task.id}}" class="list-item">
				<div class="heading">{{task.title}}</div>
				<div class="text">{{task.desc}}</div>
				<div class="text deadline-text" ng-show="task.deadline">
					<i class="icon ion-alert assertive"></i>
					Deadline: {{task.deadline.toLocaleString()}}
				</div>
				<div class="text deadline-text" ng-show="!task.deadline">
					<i class="icon ion-alert calm"></i>
					Unscheduled task. Add a deadline?
				</div>
	      	</ion-item>
	    </ion-list>
	    <div class="center">
	    	<button class="button button-add button-small button-clear icon-left ion-ios7-plus-outline button-calm" ng-click="openNTModal()">Add tasks</button>
	    </div>

	    <div class="whitespace"></div>

	    <!-- notes -->
	    <div class="seperator">Notes ({{notes.length}})</div>

	    <div ng-show="notes.length === 0 || !notes">
  		  <div class="heading">No notes yet.</div>
  		  <div class="text">Brainstorm about your project by adding notes.</div>
  		</div>

	    <ion-list class="list-items">
	      	<ion-item ng-repeat="note in notes" href="#/app/404" class="list-item">
	      		<div class="heading">{{note.title}}</div>
	      		<div class="text">{{note.desc}}</div>
	      	</ion-item>
	    </ion-list>
		<div class="center">
			<button class="button button-add button-small button-clear icon-left ion-ios7-plus-outline button-calm" ng-click="openNNModal()">Add note</button>
		</div>
  	</div>

  </ion-content>
</ion-view>
