<ion-view title="{{project.title}}">
	<!-- menu -->
	<ion-nav-buttons side="left">
	  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<!-- add inspiration button -->
	<ion-nav-buttons side="right">
	  <button class="button button-icon energized-button icon ion-ios7-lightbulb" ng-click="openAIModal()"></button>
	</ion-nav-buttons>
  <ion-content class="has-header">
  	<!-- Add content here -->
  	<div class="container">

  		<div class="list card cover">
  			<div class="coverData">
			  	<h1>{{project.title}}</h1>
			    <h2>{{project.desc}}</h2>
  			</div>
  			<div class="item item-image">
	  		  	<img src="img/{{project.cover}}.png">
  			</div>
  		</div>
  		<div class="whitespace"></div>
		<div class="seperator">Tasks ({{tasks.length}})</div>
	    <!-- tasks -->
	    <ion-list class="list-items">
	      	<ion-item ng-repeat="task in tasks" href="#/app/projects/{{project.id}}/tasks/{{task.id}}" class="list-item">
				<h2>{{task.title}}</h2>
				<h5 ng-show="task.deadline">Deadline: {{task.deadline.toLocaleString()}}</h5>
				<h5 ng-show="!task.deadline">Unscheduled task. Add a deadline?</h5>
				<h3>{{task.desc}}</h3>
	      	</ion-item>
	    </ion-list>
	    <div class="center">
	    	<button class="button button-add button-small button-clear icon-left ion-ios7-plus-outline button-calm" ng-click="openNTModal()">Add tasks</button>
	    </div>
	    <!-- notes -->
	    <div class="whitespace"></div>
	    <div class="seperator">Notes ({{notes.length}})</div>
	    <ion-list class="list-items">
	      	<ion-item ng-repeat="note in notes" href="#/app/404" class="list-item">
				<h2>{{note.title}}</h2>
				<h3>{{note.desc}}</h3>
	      	</ion-item>
	    </ion-list>
		<div class="center">
			<button class="button button-add button-small button-clear icon-left ion-ios7-plus-outline button-calm" ng-click="openNNModal()">Add note</button>
		</div>
  	</div>

  </ion-content>
</ion-view>
