<ion-view title="Flow">
	<!-- menu -->
	<ion-nav-buttons side="left">
	  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<!-- add inspiration button -->
	<ion-nav-buttons side="right">
	  <button class="button button-icon energized-button icon ion-ios7-lightbulb" ng-click="openAIModal()"></button>
	</ion-nav-buttons>
  <ion-content class="has-header">
  	<!-- Add content here -->
  	<div class="container">
  		<h1 class="viewTitle">{{task.title}}</h1>
  		<div class="desc">{{task.desc}}</div>
  	</div>
  </ion-content>
</ion-view>
