<ion-view title="{{task.title}}">
	<!-- menu -->
	<ion-nav-buttons side="left">
	  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<!-- add inspiration button -->
	<ion-nav-buttons side="right">
	  <button class="button button-icon energized-button icon ion-ios7-lightbulb" ng-click="openAIModal()"></button>
	</ion-nav-buttons>
  <ion-content class="has-header">
  	<!-- Add content here -->
  	<!-- <div class="container">
  		<h1 class="viewTitle">{{task.title}}</h1>
  		<div class="desc">{{task.desc}}</div>
  		<div class="desc">{{task.deadlineStr}}</div>
  	</div> -->

  	<div class="container">
      <form ng-submit="saveNode()" class="flow-form">
        <div class="list">
          <label class="item item-input">
            <input type="text" ng-model="task.title" class="title">
          </label>
          <label class="item item-input">
            <textarea placeholder="Description" ng-model="task.desc" class="desc"></textarea>
          </label>
          
          <div ng-show="!task.completed">

            <!-- deadline -->
            <label class="item" ng-show="task.deadline">
              <span class="desc">
                <i class="icon ion-alert"></i>
                Deadline: {{task.deadline.toLocaleString()}}
              </span>

              <button class="button icon ion-edit button-small button-clear" ng-click="editDeadline()">
                  <!-- {{deadlineBtnMsg}} -->
              </button>
            </label>
            <label class="item" ng-show="!task.deadline">
              <button class="button button-small button-block button-assertive" ng-click="editDeadline()">
                  {{deadlineBtnMsg}}
              </button>
            </label>
            <div ng-show="showEditDeadline">
              <label class="item item-input calendar">
                <span class="input-label">Date</span>
                  <input type = "date" class="desc" ng-model="task.newDeadlineDate"></input>
              </label>
              <label class="item item-input calendar">
                <span class="input-label">Time</span>
                  <input type = "time" class="desc" ng-model="task.newDeadlineTime"></input>
              </label>
            </div>

          </div>

          <div ng-show="task.completed">
            <label class="item item-input">
              <span class="desc">
                <i class="icon ion-checkmark">&nbsp;&nbsp;</i>
                This task has been completed
              </span> 
            </label>
          </div>

        </div>
      </form>

      <div class="whitespace"></div>

      <div class="seperator">Comments</div>

      <div ng-show="task.comments.length === 0 || !task.comments">
        <div class="heading">No comments yet.</div>
        <div class="text">Add snapshots and share to get feedback</div>
      </div>

      <div class="list comment-list">
        <div class="comment text" ng-repeat="comment in task.comments">
          <i class="icon ion-person"></i>
          <span>
            <b>{{comment.author}}</b>: 
            {{comment.comment}}
          </span>
        </div>

      </div>


      <div class="seperator">Snapshots</div>

      <div class="list snapshot-list">
        <div class="snapshot text item item-thumbnail-left" ng-repeat="snapshot in task.snapshots">
          <img src="{{snapshot.snap}}">
          <span>
            <b>{{snapshot.title}}</b>: 
            {{snapshot.desc}}
          </span>
        </div>
       
        <div class="center">
          <button class="button button-add button-small button-clear icon-left ion-ios7-plus-outline button-calm" ng-click="addSnapshot()">&nbsp;Add snapshots</button>
        </div>

      </div>

      <!-- account for footer space -->
      <div class="whitespace"></div>
      <div class="whitespace"></div>
      <div class="whitespace"></div>
      <div class="whitespace"></div>
      
    </div>  


  </ion-content>

  <div class="bar bar-footer">
    <div class="row">
      <div class="col">
        <button class="button button-action" ng-click="goBack()">
            <i class="icon ion-archive"></i>
            <div class="button-text">Save Changes</div>
        </button>
      </div>
      <div class="col">
        <button class="button button-action" ng-click="goBack()">
            <i class="icon ion-ios7-upload-outline"></i>
            <div class="button-text">Share Snapshots</div>
        </button>
      </div>
      <div class="col">
        <button class="button button-action" ng-click="toggleTaskComplete()" ng-show="!task.completed">
            <i class="icon ion-checkmark"></i>
            <div class="button-text">Complete Task</div>
        </button>
        <button class="button button-action-done" ng-click="toggleTaskComplete()" ng-show="task.completed">
            <i class="icon ion-checkmark"></i>
            <div class="button-text">Mark as Incomplete</div>
        </button>
      </div>
    </div>
  </div>

</ion-view>
